/* style.css */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, rgba(235, 235, 235, 1), rgba(0, 0, 0, 0));
}

/* navbar */

.navbar {
  background: #1b1b1b;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  height: 45px;
  display: none;
}

.navbar-top,
.navbar-bottom {
  display: block;
}

.navbar-top {
  text-align: center;
  background: #1b1b1b;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  height: 45px;
  line-height: 45px;
}

.navbar-top .link {
  font-family: "Montserrat", sans-serif;
  color: #c5c5c5;
  text-decoration: none;
  font-size: 23px;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

.navbar-bottom {
  z-index: 9999;
  width: 100%;
  height: 65px;
  position: fixed;
  background: #101010;
  text-align: left;
  margin-top: 190%;
}

.navbar-bottom .link {
  color: #c5c5c5;
  font-family: "Quicksand", sans-serif;
  margin-left: 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

.button-back {
  text-align: right;
  margin-right: 50px;
}

.btn-back-to-top {
  background: #1b1b1b;
  border-radius: 10pc;
  color: #c5c5c5;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: none;
  position: fixed;
  margin-top: 36pc;
}

.btn-theme {
  background: transparent;
  height: 25px;
  width: 5pc;
  border-radius: 5px;
  border: none;
  color: #c5c5c5;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.btn-theme:hover {
  text-decoration: underline;
  color: white;
}

/* menu navbar */

.navbar-bottom button {
  color: #888888;
}

.menu1 {
  background: transparent;
  border: none;
  height: 4.5pc;
  width: 17%;
  border-radius: 5pc;
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.menu2 {
  background: transparent;
  border: none;
  height: 4.5pc;
  width: 17%;
  border-radius: 5pc;
  font-size: 14px;
  cursor: pointer;
}

.menu3 {
  background: transparent;
  border: none;
  height: 4.5pc;
  width: 17%;
  border-radius: 5pc;
  font-size: 14px;
  cursor: pointer;
}

.menu4 {
  background: transparent;
  border: none;
  height: 4.5pc;
  width: 17%;
  border-radius: 5pc;
  font-size: 14px;
  cursor: pointer;
}

.menu5 {
  background: transparent;
  border: none;
  height: 4.5pc;
  width: 17%;
  border-radius: 5pc;
  font-size: 14px;
  cursor: pointer;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover,
.menu5:hover {
  background: #101010b0;
  color: #c5c5c5;
}

/* universe 2nd */

.btn-theme2 {
  background: transparent;
  height: 25px;
  width: 5pc;
  border-radius: 5px;
  border: none;
  color: #c5c5c5;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.btn-theme2:hover {
  background: #131313;
}

/* content */

.content {
  margin-top: 20px;
}

.content img {
  width: 300px;
}

.content video {
  width: 300px;
}

/* say welcome */

.say-welcome {
  background: #e5e5e5;
  width: 90%;
  height: 11pc;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.title-web {
  font-family: "Fredoka", sans-serif;
}

.hack {
  font-family: "Press Start 2P", sans-serif;
  font-size: 20px;
}

.btn-upgrade {
  margin-top: 15px;
  background: #9b0000;
  cursor: pointer;
  color: #c5c5c5;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 10pc;
}

.btn-upgrade:hover {
  background: #6b0000;
  color: white;
}

/* about */

.about {
  margin: auto;
  margin-top: 100px;
  width: 70%;
  text-align: center;
}

.about .title {
  font-family: "Lato", sans-serif;
}

.about .bar {
  margin: auto;
  margin-top: 20px;
  width: 20%;
}

.deskripsi {
  margin-top: 20px;
}

.des {
  text-align: left;
  font-family: "Encode Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

/* post */

.features {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.btn-pay {
  background: #9b0000;
  width: 10pc;
  height: 40px;
  color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pay:hover {
  background: #6b0000;
}

/* footer */

footer {
  margin-top: 4pc;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

footer p {
  font-family: "Courier Prime", sans-serif;
}

footer a {
  color: gray;
}

@media (min-width: 992px) {
  /* navbar */

  .navbar {
    background: #1b1b1b;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    height: 45px;
    display: block;
  }

  .navbar-top,
  .navbar-bottom {
    display: none;
  }

  .navbar-brand {
    margin-top: -10px;
    margin-left: 20px;
  }

  .navbar-brand .link {
    font-family: "Montserrat", sans-serif;
    color: #c5c5c5;
    text-decoration: none;
    font-size: 23px;
  }

  .link:hover {
    text-decoration: underline;
    color: white;
  }

  .navbar-link {
    margin-top: -25px;
    text-align: right;
    margin-right: 20px;
  }

  .navbar-link .link {
    color: #c5c5c5;
    font-family: "Quicksand", sans-serif;
    margin-left: 20px;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
    color: white;
  }

  .btn-theme {
    background: transparent;
    height: 25px;
    width: 5pc;
    border-radius: 5px;
    border: none;
    color: #c5c5c5;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }

  .btn-theme:hover {
    text-decoration: underline;
    color: white;
  }

  /* universe 2nd */

  .btn-theme2 {
    background: transparent;
    height: 25px;
    width: 5pc;
    border-radius: 5px;
    border: none;
    color: #c5c5c5;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
  }

  .btn-theme2:hover {
    background: #131313;
  }

  /* content */

  .content {
    margin-top: 20px;
  }

  .button-back {
    display: none;
  }

  /* say welcome */

  .say-welcome {
    background: #e5e5e5;
    width: 50%;
    height: 150px;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  }

  .title-web {
    font-family: "Fredoka", sans-serif;
  }

  .hack {
    font-family: "Press Start 2P", sans-serif;
    font-size: 20px;
  }

  .btn-upgrade {
    margin-top: 15px;
    background: #9b0000;
    cursor: pointer;
    color: #c5c5c5;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 20pc;
  }

  .btn-upgrade:hover {
    background: #6b0000;
    color: white;
  }

  /* about */

  .about {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
  }

  .about .title {
    font-family: "Lato", sans-serif;
  }

  .about .bar {
    margin: auto;
    margin-top: 20px;
    width: 20%;
  }

  .deskripsi {
    margin-top: 20px;
  }

  .des {
    text-align: left;
    font-family: "Encode Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  /* post */

  .features {
    width: 50%;
    margin: auto;
    margin-top: 50px;
  }

  .btn-pay {
    background: #9b0000;
    width: 10pc;
    height: 40px;
    color: lightgray;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-pay:hover {
    background: #6b0000;
  }

  /* footer */

  footer {
    margin-top: 4pc;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  footer p {
    font-family: "Courier Prime", sans-serif;
  }

  footer a {
    color: gray;
  }
}

/* darkmode */

#darkmode {
  background: #2b2b2b;
  color: white;
}

#darkmode .say-welcome {
  background: #3b3b3b;
}
